################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Wibci.MauiControls/.vs
/Wibci.MauiControls/bin/Debug
/Wibci.MauiControls/obj
*.user
